/* solid blue: #336699 
    cool blue: #33C3F0
*/

.header {
    height: auto;
    padding: 0;
    margin-top: 10%;
}

.header .logo a img {
    top: -53px;
    position: relative;
}

.heading {
    width: 66vw;
    float: right;
}

.heading .name {
    width: 100%;
    float: left;
    text-align: right;
    padding: 0;
    margin: 0;
}

.heading .navigation {
    width: 100%;
    float: left;
    text-align: right;
    padding-bottom: 10px;
    margin: 0;
    border-bottom: 3px solid #336699;
}

.heading .name h1 {
    text-transform: uppercase;
    margin: 0;
}

#welcome {
    margin-top: 0;
}

.heading #welcome-message h3 {
    color: #33C3F0;
    transition: 5s all ease-out; 
}

#welcome-message {
  overflow: hidden;
}

#welcome-message {
    animation: 3s slide-right .5s forwards;
    transform:translateX(-250%);
    transition-timing-function: ease;
}

@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}

#welcome .pink-bar {
    border-top: 3px solid lightsalmon;
    margin: 0 0 20px;
    padding: 0;
    animation: 4s slide-right .5s forwards;
    transform: translateX(-250%);
    background-color: #ffa07aad;
    margin: 0 0 20px;
    padding: 0;
    animation: 4s slide-right .5s forwards;
    transform: translateX(-250%);
/*
    height: 20px;
    position: relative;
    top: -42px;
    left: 40px;
    z-index: -9;
*/
}

.container:first-child {
    border-bottom: none;
}

#contact {
    border-bottom: none;
}

.center {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#resumeBtns {
    margin: 70px auto 30px;
}

.resume {
    margin-top: 30px;
}

.resume h4 {
    margin: 0;
}

h5 {
    text-transform: uppercase;
    font-weight: bold;
}

#resume-5 {
    margin: 0 0 40px 0;
}

.resume li {
    margin: 0;
}

#portfolio .row {
    margin-bottom: 40px;
}

#portfolio h3 {
    text-transform: uppercase;
}

#portfolio h4 {
    padding: 0;
    margin: 0;
}

#contact h3 {
    padding-bottom: 20px;
}

#contact-submit {
    margin-top: 40px;
}

.footer a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    transition: .25s all ease-out;
    padding: 0 5px 5px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    line-height: 1.1;
}

.footer a:hover {
    color: #33C3F0;
    font-weight: bold;
}

.footer .copyright {
    margin-top: 20px;
}

.footer .copyright p {
    margin: 0;
}

.row {
    width: 100%;
    min-width: 100%;
}

#back-link a {
    text-decoration: none;
    border-bottom: 3px solid #336699;
}

#description .button {
    margin-top: 30px;
}

.hide-large {
    display: none;
}

@media (max-width: 770px) {
    .header img {
        width: 5em;
        padding: 20px;
    }
    
    .heading {
        margin: 0;
        width: 70%;
        padding-left: 0;
    }
    
    .heading .name {
        text-align: center;
        margin-top: 20px;
    }
    
    .heading .name h1 {
        text-align: center;
    }
    
    .heading .navigation {
        text-align: center;
        width: 118%;
        float: right;
        margin-top: 25px;
    }
    
    .heading .navigation ul li {
        margin: 0;
        padding: 0 3px;
    }
    
    .logo {
        width: 20%;
    }
    
    .hide-large {
        display: block;
    }
    
    .hide-small {
        display: none;
    }
    
    #portfolio .button {
        margin: 20px auto 40px;
    }
}